* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  background: url('phil-goodwin-97782.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main {
  padding-bottom: 15px;
}

#table {
  padding-bottom: 15px;
}

.header {
  text-align: center;
}

#date:hover,
#experienceRating:hover,
#lowestTicketPrice:hover,
#averageTicketPrice:hover {
  cursor: pointer;
  font-size: 15px;
}

.hidden {
  display: none;
}

.ui.black.button {
  position: absolute;
  top: 18px;
  right: 160px;
}
