* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  background: url('weather.png') repeat;
}

#main {
  padding-bottom: 15px;
}

#table {
  padding-bottom: 15px;
}

.header {
  text-align: center;
}

#date:hover,
#experienceRating:hover,
#lowestTicketPrice:hover,
#averageTicketPrice:hover {
  cursor: pointer;
  font-size: 15px;
}
